/*
================================================================================
WSP COMPONENT LIBRARY STYLESHEET
================================================================================ */

/* body elements */
body {
    width: 100%; /* 16px */
    background: radial-gradient(#fff, #eee);
}

/* content id elements */
#content {
    border: 1px solid lightgrey;
    width: 75%; /* 1200px/16px */
    background: #fff;
    margin-top: 10px;
    margin-left: 12.5%; /* 200px/16px */
    padding: 20px;
    overflow: hidden;
    box-shadow: 5px -5px darkgrey;
    font-family: sans-serif, arial;

}

/* content id & direct h1 elements */
#content > h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 250px;
    font-size: 2.0em;
}

/* h1 elements */
h1 {
    color: #666;
    font-weight: 300;
    font-size: 1.8em;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-top: 30px;
}

/* h2 elements */
h2 {
    font-size: 1.1em;
}

/* h2 & paragraph elements */
h2, h2 + p {
    margin-left: 50px;
    margin-top: 10px;
}

/* h3 elements */
h3 {
    text-align: left;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 60px;
    font-size: 2.4em;
    color: #666;
    font-weight: 300;
}

/* introduction image id elements */
#introductionimg {
    float: right;
    clear: right;
    margin-right: 80px;
    margin-top: -80px;
}

/* introduction description id elements */
#introdesc {
    color: #666;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: -40px;
    width: 60%;
    font-style: italic;
    font-weight: 200;
}

/* border top id elements */
#borderTop {
    border-bottom: 3px solid lightgrey;
    width: 90%;
    margin-top: 200px;
    margin-bottom: -190px;
    margin-left: 50px;
}

/* border bottom id elements */
#borderBottom {
    border-bottom: 3px solid lightgrey;
    width: 90%;
    margin-top: 20px;
    margin-left: 50px;
}

/* border one id elements */
#borderOne {
    border-bottom: 3px solid lightgrey;
    width: 90%;
    margin-top: 20px;
    margin-left: 50px;
}

/* border two id elements */
#borderTwo {
    border-bottom: 3px solid lightgrey;
    width: 90%;
    margin-top: 30px;
    margin-left: 50px;
}

/* border three id elements */
#borderThree {
    border-bottom: 3px solid lightgrey;
    width: 90%;
    margin-top: 30px;
    margin-left: 50px;
}

/* border four id elements */
#borderFour {
    border-bottom: 3px solid lightgrey;
    width: 90%;
    margin-top: 30px;
    margin-left: 50px;
}

/* border five id elements */
#borderFive {
    border-bottom: 3px solid lightgrey;
    width: 90%;
    margin-top: 30px;
    margin-left: 50px;
}

/* border six id elements */
#borderSix {
    border-bottom: 3px solid lightgrey;
    width: 90%;
    margin-top: 30px;
    margin-left: 50px;
}

/* border seven id elements */
#borderSeven {
    border-bottom: 3px solid lightgrey;
    width: 90%;
    margin-top: 30px;
    margin-left: 50px;
}

/* border eight id elements */
#borderEight {
    border-bottom: 3px solid lightgrey;
    width: 90%;
    margin-top: 30px;
    margin-left: 50px;
}

/* border nine id elements */
#borderNine {
    border-bottom: 3px solid lightgrey;
    width: 90%;
    margin-top: 30px;
    margin-left: 50px;
}

/* button class elements */
.button {
    border-top: 1px solid lightgrey;
    background: #4492ff;
    padding: 10px 10px 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 1.0em;
    font-family: sans-serif, arial;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 200;
}

/* button hover elements */
.button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}

/* button active elements */
.button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

/* HEADER SPECIFIC ======================================== */

/* header article id & direct h2 elements + header article id & direct paragraph elements */
#headerArticle > h2, #headerArticle > p {
    color: #666;
    font-style: italic;
    font-weight: 200;
}

/* header & direct image elements */
header > img {
    margin-left: 48px;
}

/* ABOUT SPECIFIC ======================================== */

/* about article id & direct h2 elements + about article id & direct paragraph elements */
#aboutArticle > h2, #aboutArticle > p {
    color: #666;
    font-style: italic;
    font-weight: 200;
}

/* about id & direct image elements */
#about > img {
    margin-left: 50px;
}

/* CTA SPECIFIC ======================================== */

/* cta article id & direct h2 elements + cta article id & direct paragraph elements */
#ctaArticle > h2, #ctaArticle > p {
    color: #666;
    font-style: italic;
    font-weight: 200;
}

/* cta id & direct image elements */
#cta > img {
    margin-left: 50px;
}

/* FEATURES SPECIFIC ======================================== */

/* features article id & direct h2 elements + features article id & direct paragraph elements */
#featuresArticle > h2, #featuresArticle > p {
    color: #666;
    font-style: italic;
    font-weight: 200;
}

/* features id & direct image elements */
#features > img {
    margin-left: 50px;
}

/* MEET THE TEAM SPECIFIC ======================================== */

/* team article id & direct h2 elements + team article id & direct paragraph elements */
#teamArticle > h2, #teamArticle > p {
    color: #666;
    font-style: italic;
    font-weight: 200;
}

/* team id & direct image elements */
#team > img {
    margin-left: 50px;
}

/* CONTACT SPECIFIC ======================================== */

/* contact article id & direct h2 elements + contact article id & direct paragraph elements */
#contactArticle > h2, #contactArticle > p {
    color: #666;
    font-style: italic;
    font-weight: 200;
}

/* contact id & direct image elements */
#contact > img {
    margin-left: 50px;
}

/* BLOG SPECIFIC ======================================== */

/* blog article id & direct h2 elements + blog article id & direct paragraph elements */
#blogArticle > h2, #blogArticle > p {
    color: #666;
    font-style: italic;
    font-weight: 200;
}

/* blog id & direct image elements */
#blog > img {
    margin-left: 50px;
}

/* NAVIGATION SPECIFIC ======================================== */

/* navigation article id & direct h2 elements + navigation article id & direct paragraph elements */
#navigationArticle > h2, #navigationArticle > p {
    color: #666;
    font-style: italic;
    font-weight: 200;
}

/* navigation id & direct image elements */
#navigation > img {
    margin-left: 50px;
}

/* SEARCH SPECIFIC ======================================== */

/* search article id & direct h2 elements + search article id & direct paragraph elements */
#searchArticle > h2, #searchArticle > p {
    color: #666;
    font-style: italic;
    font-weight: 200;
}

/* search id & direct image elements */
#search > img {
    margin-left: 50px;
}

/* FOOTER SPECIFIC ======================================== */

/* footer article id & direct h2 elements + footer article id & direct paragraph elements */
#footerArticle > h2, #footerArticle > p {
    color: #666;
    font-style: italic;
    font-weight: 200;
}

/* footer & direct image elements */
footer > img {
    margin-left: 50px;
}