<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Navigation</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="navigation.css" />
</head>
<body>

	<!-- Component -->

    <div id="navigation"> <!-- opening id tag for "navigation" -->

        <h1> 8) Navigation </h1>
        <img src="navigation.png" alt="Navigation" style="border: 1px solid #eee; width: 850px; height: 60px;">
        <div id="navigationArticle"> <!-- opening id tag for "navigation article" -->
            <h2> Target Audience: </h2>
            <p> The target audience for this portion of the website would be anyone who is currently interested in browsing various sections of the website as well as anyone who may want to return to a specific section. A good example being the "home page" or for this navigational bar in particular, the section for "today."</p>

            <h2> Client/User Needs: </h2>
            <p> The main goal or purpose for the navigational bar would be to help guide the user through various sections of the website with the ease of clicking a button. Having a navigational bar is useful and recommended when creating a website in order to provide the user with the easiest and most convenient experience possible. </p>

            <h2> Critique: </h2>
            <p> The design or layout for this navigational bar is simple, yet unique. The grey background creates a neutral feel that can provide the users with a sense of indecisiveness, while still maintaining a professional outlook. The black highlight that appears whenever the user clicks on a selection will stand out the most since black is a bold color that provides the user with a sense of elegance and stability. </p>
        </div> <!-- closing id tag for "navigation article" -->

    </div> <!-- closing id tag for "navigation" -->


    <!-- End Component -->
	
</body>
</html>