<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Navigation</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="navigation.css" />
</head>
<body>

	<!-- Component -->
    <section id="navigation"> <!-- opening section tag for "navigation" -->

        <h1> 8) Navigation </h1>
        <img src="navigation.png" alt="Navigation Image for WSP: Component 8">
        <article id="navigationArticle"> <!-- opening article tag for "navigation article" -->
            <h2> Target Audience: </h2>
            <p> The "navigation" feature will most likely be useful to men and women between the ages of 18-35 who are interested in browsing various sections of the website as well as those who may want to return to a specific section. A good example being the "home page" or for this navigational bar in particular, the section for "today." </p>

            <h2> Client/User Needs: </h2>
            <p> The main goal or purpose for the navigational bar would be to help guide the user through various sections of the website with the ease of clicking a button. Having a navigational bar is useful and recommended when creating a website in order to provide the user with the easiest and most convenient experience possible. </p>

            <h2> Critique: </h2>
            <p> The design or layout for this navigational bar is simple, yet unique. The grey background creates a neutral feel that can provide the users with a sense of "indecisiveness", while still maintaining a professional outlook. The black highlight that appears whenever the user clicks on a selection will stand out the most since black is a bold color that provides the user with a sense of "elegance" and "stability." </p>
        </article> <!-- closing article tag for "navigation article" -->

    </section> <!-- closing section tag for "navigation" -->
    <!-- End Component -->
	
</body>
</html>