<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Navigation</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="navigation.css" />
</head>
<body>

	<!-- Component -->
    <nav> <!-- opening navigational tag -->
        <ul>
            <li><a href="#">Following</a></li>
            <li><a href="#">Today</a></li>
            <li><a href="#">Motors</a></li>
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Electronics</a></li>
            <li><a href="#">Collectibles & Art</a></li>
            <li><a href="#">Home & Garden</a></li>
            <li><a href="#">Sporting Goods</a></li>
            <li><a href="#">Toys & Hobbies</a></li>
            <li><a href="#">Deals & Gifts</a></li>
        </ul>
    </nav> <!-- closing navigational tag -->
    <!-- End Component -->
	
</body>
</html>