/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* section elements */
section {
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid #000;
    padding: 20px;
    margin-right: 340px;
}

/* navigational elements */
nav {
    margin-top: 20px;
    margin-left: 20px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

/* a elements */
a {
    color: #666;
    display: inline;
    margin-right: 10px;
    margin-top: 20px;
}

/* "today" id elements */
#today {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    color: #000;
}

/* "motors" id elements */
#motors {
    padding-left: 20px;
    border-left: 1px solid #666;
}