<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Meet Our Team</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="team.css" />
</head>
<body>

	<!-- Component -->
    <section id="team"> <!-- opening section tag for "team" -->

        <h1> 5) Meet the Team </h1>
        <img src="team.png" alt="Meet the Team Image for WSP: Component 5">
        <article id="teamArticle"> <!-- opening article tag for "team article" -->
            <h2> Target Audience: </h2>
            <p> The "meet the team" feature will most likely be useful to men and women between the ages of 18-35 who may be interested in furthering their knowledge of the company or would like to get in personal contact with someone from the team who may be of assistance. </p>

            <h2> Client/User Needs: </h2>
            <p> The main goal for this portion of the website is to give the users the opportunity to become more familiar with the employees so that way if they were to ever need assistance they could easily contact one of the team members just by browsing this section of the website. </p>

            <h2> Critique: </h2>
            <p> The layout/design is well laid out and easy to navigate because everything a user will need to know about a staff member is displayed on the page. Every team member has a personalized image that provides the user with a deeper sense of trust since they are able to not only get in contact with this person via email or social media, but they will know what they look like as well. The font colors are a dark grey color that create a neutral and unemotional feeling for the user, where as the options to contact one of the team members via through social media or other sources is a nice shade of blue, that in which highlights these options so that the user will most likely want to use them. The color blue is used here as well to highlight these options. This will enable the user to rely on the brand more than they would if it were any other color since blue represents "trust" and "loyalty." </p>
        </article> <!-- closing article tag for "team article" -->

    </section> <!-- closing section tag for "team" -->
	<!-- End Component -->
	
</body>
</html>