<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Meet Our Team</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="team.css" />
</head>
<body>

	<!-- Component -->

    <div id="team"> <!-- opening id tag for "team" -->

        <h1> 5) Meet the Team </h1>
        <img src="team.png" alt="Meet the Team" style="border: 1px solid #eee; width: 700px; height: 400px;">
        <div id="teamArticle"> <!-- opening id tag for "team article" -->
            <h2> Target Audience: </h2>
            <p> The target audience for this component would be for anyone who may be interested in furthering their knowledge of the company or would like to get in contact with someone from the team who may be of assistance.</p>

            <h2> Client/User Needs: </h2>
            <p> The main goal for this portion of the website is to give the users the opportunity to become more familiar with the employees so that way if they were to ever need assistance they could easily contact one of the team members just by browsing this section of the website. </p>

            <h2> Critique: </h2>
            <p> The layout/design is well laid out and easy to navigate. Every team member's image has a circular border that makes the image more appealing to the user. The font colors are a dark grey color that create a neutral and unemotional feeling for the user, where as the options to contact one of the team members via through social media or other sources is a nice shade of blue, that in which highlights these options so that the user will most likely want to use them. </p>
        </div> <!-- closing id tag for "team article" -->

    </div> <!-- closing id tag for "team" -->

	<!-- End Component -->
	
</body>
</html>