/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* header elements */
header {
    margin-bottom: 20px;
}

/* h1 elements */
h1 {
    margin-bottom: 5px;
}

/* navigational elements */
nav {
    margin-top: 10px;
    margin-bottom: 20px;
}