<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Log in/Registration</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="login.css" />
</head>
<body>

	<!-- Component -->

    <div id="login"> <!-- opening id tag for "login" -->

        <h1> 7) Log in/Register </h1>
        <img src="login.png" alt="Log in/Register" style="border: 1px solid #eee; width: 600px; height: 220px;">
        <div id="loginArticle"> <!-- opening id tag for "login article" -->
            <h2> Target Audience: </h2>
            <p> The target audience for this component would be anyone who is already a member or would like to become member of the website. </p>

            <h2> Client/User Needs: </h2>
            <p> The main goal or purpose of the log in/register page would be the "opening door" of the webpage so to speak. This will allow anyone to sign in/up and give them access to features limited to members only.  </p>

            <h2> Critique: </h2>
            <p> The layout is simple and easy to use. The color "blue" creates a calming and professional atmosphere for the user. The color "blue" is considered to be one of the most used colors when creating or designing buttons, so I found this color to be best to use since it's favored by most and users will be more willing to access the website. </p>
        </div> <!-- closing id tag for "login article" -->

    </div> <!-- closing id tag for "login" -->


    <!-- End Component -->
	
</body>
</html>