/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* input elements */
input {
    border: 1px solid #000;
}

/* h1 elements */
h1 {
    margin-bottom: 5px;
    margin-top: 10px;
}

/* sign in id elements */
#signin {
    display: block;
    margin-top: 5px;
}