<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Log in/Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="login.css" />
</head>
<body>

	<!-- Component -->
    <form> <!-- opening form tag -->
        <h1> Sign In </h1>

        <label>Email or User ID</label>
            <input type="text">
        <label>Password</label>
            <input type="text">
            <a href="#"> Forgot your password? </a>
        <label> Stay signed in </label>
            <input type="checkbox">
            <p> If this is a public or shared device, uncheck and sign out when you're done to protect your account. <a href="#">Learn More</a></p>

        <button type="button">Sign in</button>
    </form> <!-- closing form tag -->

    <form> <!-- opening form tag -->
        <h1> New to Sharpe's Supplies? </h1>
        <p> Get started now. It's fast and easy! </p>

        <button type="button">Register</button>
    </form> <!-- closing form tag -->
    <!-- End Component -->
	
</body>
</html>