<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="header.css" />
</head>
<body>

	<!-- Component -->
    <header> <!-- opening header tag -->
        <nav> <!-- opening navigational tag -->
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Our Fuels</a></li>
                <li><a href="#">Services<span></span></a>
                    <ul>
                        <li><a href="#">List item one</a></li>
                        <li><a href="#">List item two</a></li>
                        <li><a href="#">List item three</a></li>
                        <li><a href="#">List item four</a></li>
                    </ul></li>
                <li><a href="#">Prices</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>

            <a href="#"><img src="images/location.png" alt="Symbol representing location"></a>
            <a href="#"><img src="images/email.png" alt="Symbol representing email"></a>
            <a href="#"><img src="images/phone.png" alt="Symbol representing a phone"></a>
        </nav> <!-- closing navigational tag -->

        <figure> <!-- opening figure tag -->
            <img src="images/header-logo.png" alt="Image of Sharpe's Supplies Logo">
        </figure> <!-- closing figure tag -->

        <form> <!-- opening form tag -->
            <input type="text" placeholder="Search for any item">
        </form> <!-- closing form tag -->

        <nav> <!-- opening navigational tag -->
            <a href="http://www.tumblr.com/html/"><img src="images/tumblr-logo.png" alt="Tumblr logo"></a>
            <a href="http://www.twitter.com/html/"><img src="images/twitter-logo.png" alt="Twitter logo"></a>
            <a href="http://www.youtube.com/html/"><img src="images/youtube-logo.png" alt="Youtube logo"></a>
            <a href="http://www.instagram.com/html/"><img src="images/instagram-logo.png" alt="Instagram logo"></a>
        </nav> <!-- closing navigational tag -->
    </header> <!-- closing header tag -->

    <!-- End Component -->
	
</body>
</html>