<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Header</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="header.css" />
</head>
<body>

	<!-- Component -->
    <section id="header"> <!-- opening section tag for "header" -->

        <h1> 1) Header </h1>
        <img src="header.png" alt="Header Image for WSP: Component 1">
        <article id="headerArticle"> <!-- opening article tag for "header article" -->
            <h2> Target Audience: </h2>
            <p> This header will most likely appeal to men and women between the ages of 18-65 who are looking for the best online shopping experience. Those between the ages of 18-35, who will have more likely adapted to the modern age of technology, will find this website more beneficial to their needs since they will have the ability to shop online rather than having to leave their own homes. </p>

            <h2> Client/User Needs: </h2>
            <p> The purpose of this header is to provide the client with a quick and easy way to navigate through various selections through out the website. This header also provides the user with the company's brand name logo as well as many other useful features to make browsing more convenient for the user.  </p>

            <h2> Critique: </h2>
            <p> The design/layout for this header has a background that's a shade of white, which gives the header a clean appearance since the color white typically represents "purity" and "cleanliness." The color green, however, is a shade of jade green, giving the header a sense of "trust" and "confidentiality," because of this, the user will feel a sense of enlightenment due to this shade of green having a generous spirit. The header is the most relevant part of the website since users will take use of the navigational bar as well as the search bar more often than they will any other feature, so it's best to not only have a header, but for the header to be as effective to the user as possible. </p>
        </article> <!-- closing article tag for "header article" -->

    </section> <!-- closing section tag for "header" -->
	<!-- End Component -->
	
</body>
</html>