/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* body elements */
body {
    background: #fff;
    width: 100%; /* 16px */
}

/* navigational nth-of-type number one elements */
nav:nth-of-type(1) {
    margin: 10px 0% 0px 2.8125%; /* right: 50px/16px, left: 45px/16px */
    background: #197f62;
    width: 94.375%; /* 1510px/16px */
    float: left;
}

/* navigational nth-of-type number one a & unordered list items directly under a elements */
nav:nth-of-type(1) a, a + ul { /* targets navigational links */
    font-size: 1.0em;
    padding: 20px;
    color: #fff;
}

/* navigational unordered list items hover & direct a elements */
nav ul li:hover > a {
    text-decoration: none;
    background: #fff;
    color: #000;
    height: 56px;
}

/* unordered list list item elements */
ul li {
    float: left;
    position: relative;
    font-size: 1.0em;
    padding: 20px 0%;
}

/****** BEGINNING DROP DOWN MENU ELEMENTS *******/

/* span elements */
span {
    width: 0;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    float: right;
    margin-left: 10px;
    margin-top: 5px;
    position: absolute;
}

/* unordered list under neath a element */
a + ul { /* targets drop down menu under "services" */
    padding: 5px 0.3125%; /* 5px/16px */
    position: absolute;
    display: block;
    visibility: hidden;
}

/* Animation for drop down menu list items below */
@keyframes drop-down-menu {
    0%   {background-color: black;}
    25%  {background-color: gray;}
    50%  {background-color: lightgray;}
    100% {background-color: darkgrey;}
}

/* list item nth-of-type number four hover unordered list items directly after a item elements */
li:nth-of-type(4):hover a + ul {
    width: 125%; /* 2000px/16px */
    background-color: #666;
    animation-name: drop-down-menu;
    animation-duration: 4s;
    visibility: visible;
}


/****** ENDING DROP DOWN MENU ELEMENTS *******/


/* navigational nth-of-type number one image last of type elements */
nav:nth-of-type(1) img:last-of-type { /* targets the bottom image elements in the first navigation tag */
    height: 60px;
    float: left;
    margin-left: 150px;
}

/* figure & figure image elements */
figure, figure img { /* targets the figure image */
    width: 31.25%; /* 500px/16px */
    height: 75px;
    clear: both;
    margin: 20px 0% 0px 3.125%; /* 100px/16px */
}

/* input elements */
input {
    margin: 0px 0% 20px 62.5%; /* 1000px/16px */
    border: 1px solid #000;
    width: 21.875%; /* 350px/16px */
    height: 25px;
    float: left;
    position: absolute;
}

/* form & navigational elements under form elements */
form + nav { /* targets the form as well as the bottom navigational elements */
    float: left;
    margin: 0px 0% 0px 86.25%; /* 1380px/16px */
    position: absolute;
}

/* navigational image elements under form elements */
form + nav img { /* targets bottom navigational images */
    width: 18.75%; /* 300px/16px */
    height: 25px;
    padding-right: 0.625%; /* 10px/16px */
    display: inline-block;
    margin-bottom: 5px;
}

/****** RESPONSIVE MEDIA QUERIES ******/


@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 321px) and (max-width: 480px) {

}

@media (max-width: 320px) {

}