<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Header</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="header.css" />
</head>
<body>

	<!-- Component -->
    <header> <!-- opening tag for "header" -->

        <h1> 1) Header </h1>
        <img src="header.png" alt="Header" style="border: 1px solid #fff; width: 880px; height: 250px;">
        <div id="headerArticle"> <!-- opening id tag for "header article" -->
            <h2> Target Audience: </h2>
            <p> The intended audience for this header are those who prefer a more modern appeal. </p>

            <h2> Client Goals: </h2>
            <p> The main goal this header has to provide for the client with a quick and easy way to find what they need without the hassle of having to waste their time searching it through the website. Of course, that is an option as well.  </p>

            <h2> Design: </h2>
            <p> This design stood out to me the most out of all designs I have seen. The reason this header stood out to me in particular was because it has a professional and a modern appeal to it. This header includes three slide bars, which for my personal website will include various features that the client will most likely want to browse. </p>
        </div> <!-- closing id tag for "header article" -->

    </header> <!-- closing tag for "header" -->
	<!-- End Component -->
	
</body>
</html>