<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Features</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="features.css" />
</head>
<body>

	<!-- Component -->

    <div id="features"> <!-- opening id tag for "features" -->

        <h1> 4) Features </h1>
        <img src="features.png" alt="Features" style="border: 1px solid #eee; width: 630px; height: 350px;">
        <div id="featuresArticle"> <!-- opening id tag for "features article" -->
            <h2> Target Audience: </h2>
            <p> The target audience for these featured items would be anyone interested in buying horse racing items as well as anyone who may be interested in buying clothing and accessories. </p>

            <h2> Client/User Needs: </h2>
            <p> The main goal for this section of the website is to provide the users with another quick and easy way of finding items that best suit their needs, except instead of them being advertised individually, they come in a bundle so that way the user will have a nice selection to choose from instead of having to browse each item separately. </p>

            <h2> Critique: </h2>
            <p> The layout for this component nicely laid out and has a large or main image for each feature. For example, in the first feature you have an image of horse racers in action. For the second feature you have a woman wearing a beautifully made dress with a happy expression on her face. These images set the tone for the feature entirely. The smaller images, however, are a nice addition to the features since they give the users the option to click and possibly enlarge them as well. As for the font, there is a "shop now" option that is highlighted by the color "blue." By using a color instead of a neutral color for this option, this creates a more calming atmosphere for the user and will most likely allow them to click on the option rather than ignore it. </p>
        </div> <!-- closing id tag for "features article" -->

    </div> <!-- closing id tag for "features" -->

	<!-- End Component -->
	
</body>
</html>