/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* h1, paragraph, and unordered list elements */
h1, p, ul {
    margin-bottom: 10px;
}

/* image elements */
img {
    display: block;
    margin-bottom: 10px;
}

/* section elements */
section {
    margin-bottom: 20px;
}