/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* section elements */
section {
    border-top: 1px solid #666;
    padding: 20px;
    margin: 20px 20px 20px 20px;
}

/* article elements */
article {
    width: 650px;
    display: inline-block;
}

/* h1, paragraph, and unordered list elements */
h1, p, ul {
    margin-bottom: 10px;
}

/* paragraph elements */
p {
    width: 50%;
}

/* image elements */
img, li {
    display: block;
    margin-bottom: 10px;
}



