<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Features</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="features.css" />
</head>
<body>

	<!-- Component -->
    <section> <!-- opening section tag -->
        <header> <!-- opening header tag -->
            <h1> Today's Featured Collections </h1>
        </header> <!-- closing header tag -->

        <article> <!-- opening article tag -->
            <figure> <!-- opening figure tag -->
                <a href="#"><img src="images/horse-racers.png" alt="Image of Horse Racers in Action with Black and White filtering"></a>
                <a href="#"><img src="images/gold-trophee.png" alt="Image of a Gold Display of a Trophee, Most Likely Won From a Horse Race"></a>
                <a href="#"><img src="images/shirt.png" alt="Image of a Decorative and Colorful Shirt That Horse Racers May Wear"></a>
                <a href="#"><img src="images/horse-racer-trophee.png" alt="Image of a Silver Display of a Trophee That Resembles a Horse Racer"></a>
            </figure> <!-- closing figure tag -->

            <h1>Place Your Bets</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut sollicitudin elit. Proin condimentum ultricies ipsum et maximus. Nulla dictum ex nec porta posuere. Cras commodo aliquam tellus, vel porta urna dapibus vel. Vestibulum eu turpis rutrum, lobortis purus sed, aliquet risus.</p>
            <ul>
                <li> 17 items </li>
                <li> $4 - Up </li>
                <li><a href="#" type="submit">Shop</a></li>
            </ul>
        </article> <!-- closing article tag -->

        <article> <!-- opening article tag -->
            <figure> <!-- opening figure tag -->
                <a href="#"><img src="images/girl-moving.png" alt="Image of a Girl In a Peach Pink Dress Who Appears to be Dancing or Moving"></a>
                <a href="#"><img src="images/sunglasses.png" alt="Image of a Pair of Sunglasses With Purple Tint and a Decorative Rim"></a>
                <a href="#"><img src="images/girl-hat.png" alt="Image of a Girl With Red Hair Who Has a Decorative Hat on Her Head"></a>
                <a href="#"><img src="images/ring.png" alt="Image of a Silver Ring of Some Sort With a Transparent Background"></a>
            </figure> <!-- closing figure tag -->

            <h1>Hello, Governor</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut sollicitudin elit. Proin condimentum ultricies ipsum et maximus. Nulla dictum ex nec porta posuere. Cras commodo aliquam tellus, vel porta urna dapibus vel. Vestibulum eu turpis rutrum, lobortis purus sed, aliquet risus.</p>
            <ul>
                <li> 17 items </li>
                <li> $4 - Up </li>
                <li><a href="#" type="submit" class="shop">Shop</a></li>
            </ul>
        </article> <!-- closing article tag -->
    </section> <!-- closing section tag -->
	<!-- End Component -->
	
</body>
</html>