<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Features</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="features.css" />
</head>
<body>

	<!-- Component -->
    <section id="features"> <!-- opening section tag for "features" -->

        <h1> 4) Features </h1>
        <img src="features.png" alt="Features Image for WSP: Component 4">
        <article id="featuresArticle"> <!-- opening article tag for "features article" -->
            <h2> Target Audience: </h2>
            <p> The "features" section will most likely appeal to men and women between the ages of 18-35 who are interested in buying or browsing items in a collection or bundle. This can include anything from horse racing items to clothing and accessories. Depending on the features item(s), the audience may vary. For example, in the first bundle you have a collection of horse racing items and/or equipment. This feature will most likely appeal to middle or high class families that may own a horse as well as have the finances to maintain that said horse. The second feature will most likely appeal to women between the ages of 18-35, since they are known to be savvy shoppers as well as fashionable. </p>

            <h2> Client/User Needs: </h2>
            <p> The main goal for this section of the website is to provide the users with another quick and easy way of finding items that best suit their needs, except instead of them being advertised individually, they come in a bundle so that way the user will have a nice selection to choose from instead of having to browse each item separately. </p>

            <h2> Critique: </h2>
            <p> The layout for this component nicely laid out and has a large or main image for each feature. For example, in the first feature you have an image of horse racers in action. For the second feature you have a woman wearing a beautifully made dress with a happy expression on her face. These images set the tone for the feature entirely because they display a particular emotion for the feature. For example, the girl on the right is smiling while she appears to be dancing. This will make the user want to check out these features more because it will make them feel "happy" and "cheerful." As for the font, there is a "shop now" option that is highlighted by the color "blue." By using a color instead of a neutral color for this option, this creates a more calming atmosphere for the user and will most likely allow them to click on the option rather than ignore it. </p>
        </article> <!-- closing article tag for "features article" -->

    </section> <!-- closing section tag for "features" -->
	<!-- End Component -->
	
</body>
</html>