/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* aside elements */
aside {
    border: 1px solid #666;
}

/* h1 and unordered list elements */
h1, ul {
    margin-bottom: 5px;
    margin-top: 10px;
}

/* paragraph elements */
p {
    margin-bottom: 10px;
}

