<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: CTA</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="cta.css" />
</head>
<body>

	<!-- Component -->
    <aside> <!-- opening aside tag -->
        <header> <!-- opening header tag -->
            <img src="images/heading.png" alt="Image of a Navy Blue and White Pattern for Father's Day Advertisement">
            <img src="images/percent.png" alt="Images of the percentage off of the advertised item">
            <p> Deals for Dad </p>
        </header> <!-- closing header tag -->

        <h1><strong>$999.99</strong> Microsoft <br> Surface Pro 3 </h1>
        <img src="images/image.png" alt="Image of a Microsoft Surface Pro 3 with Featured Elements on the Screen">

        <ul>
            <li> 256 GB </li>
            <li> Free Shipping </li>
            <li><a href="#" id="submit" type="submit">Get yours now</a></li>
        </ul>

        <footer> <!-- opening footer tag -->
            <p> Powered by <br> <strong>techoutlet</strong> </p>
        </footer> <!-- closing footer tag -->
    </aside> <!-- closing aside tag -->
	<!-- End Component -->
	
</body>
</html>