<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: CTA</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="cta.css" />
</head>
<body>

	<!-- Component -->
    <aside> <!-- opening aside tag -->
        <img src="" alt="Image of a Navy Blue and White Pattern for Father's Day Advertisement">
        <p> Deals for Dad </p>

        <header> <!-- opening header tag -->
            <h1> $999.99 Microsoft Surface Pro 3 </h1>
            <img src="" alt="Image of a Microsoft Surface Pro 3 with Featured Elements on the Screen">
        </header> <!-- closing header tag -->

        <ul>
            <li> 256 GB </li>
            <li> Free Shipping </li>
            <li> 23% Off </li>
        </ul>

        <a href="#" id="submit" type="submit">Get yours now</a>
    </aside> <!-- closing aside tag -->
	<!-- End Component -->
	
</body>
</html>