/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

header > img {
    float: left;
    padding: 20px;
}

header > h1 {
    padding: 20px;
}

header > p {
    width: 80%;
    float: left;
}

/* h1, navigational, & section elements */
h1, nav, section {
    margin-bottom: 10px;
}

article {
    clear: left;
}

nav {
    display: inline-block;
    margin-left: 300px;
}

/* navigational a elements */
nav a {
    color: #000;
}

/* span elements */
span {
    font-size: 0.7em;
    line-height: 0%;
}

/* navigational, direct unordered list, & direct list items */
nav > ul > li {
    padding: 10px 20px;
    float: left;
    display: inline-block;
    position: relative;
    font-size: 1.0em;
}

/* navigational list item hover & "sub-menu" class elements */
nav li:hover .sub-menu {
    z-index: 1;
    opacity: 1;
}

/* "sub-menu" class elements */
.sub-menu {
    width: 100%;
    padding: 5px;
    opacity: 0;
}

/* "sub-menu" class list item elements */
.sub-menu li {
    display: block;
    font-size: 0.8em;
}

/* "sub-menu" class list items & a elements */
.sub-menu li a {
    padding: 10px 20px;
    display: block;
}

/* "sub-menu" class list items & a hover elements */
.sub-menu li a:hover {
    background: #eee;
}