/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* section elements */
section {
    font-family: sans-serif;
}

/* header direct image elements */
header > img {
    float: left;
    padding: 20px;
}

/* header direct h1 elements */
header > h1 {
    padding: 20px;
}

/* header paragraph elements */
header > p {
    width: 1200px;
    float: left;
}

/* figure elements */
figure {
    margin: 150px 0px 0px 170px;
}

/* h1, navigational, & section elements */
h1, nav {
    margin-bottom: 10px;
}

/* article elements */
article {
    clear: left;
    margin: 100px 0px 90px 170px;
}

/* article direct h1 elements */
article > h1 {
    margin-bottom: 20px;
}

/* article list item elements */
article li {
    margin-bottom: 5px;
}

/* span elements */
span {
    font-size: 0.7em;
    line-height: 0%;
    padding-left: 30px;
    color: #fff;
}

/* navigational elements */
nav {
    margin-left: 300px;
    float: left;
}

/* navigational a elements */
nav a {
    color: #000;
}

/* navigational, direct unordered list, & direct list items */
nav > ul > li {
    padding: 10px 20px;
    float: left;
    display: inline-block;
    position: relative;
    font-size: 1.0em;
    margin: -150px -200px 90px 150px;
}

/* navigational direct unordered list direct list items direct h1 elements */
nav > ul > li > h1 {
    font-size: 0.9em;
    font-weight: 700;
}

/* navigational direct unordered list direct list items direct a elements */
nav > ul > li > a {
    background: #eee;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 0.5em;
}

/* list item elements */
nav li {
    display: block;
    float: left;
    padding: 10px;
    position: relative;
    text-decoration: none;
    margin-left: 20px;
}

/* navigational list item a elements */
nav li a {
    color: #000;
    display: block;
    width: 200px;
}

/* navigational direct unordered list direct list items direct 'sub' unordered list direct 'sub' list items hover & a hover elements */
nav > ul > li > ul > li:hover, nav > ul > li > ul > a:hover { /* only hovers over the list items and not the h1 */
    background: #eee;
}

/* unordered list direct list item direct 'sub' unordered list elements */
ul > li > ul {
    visibility: hidden;  /* keeps list items hidden until hovered over */
    position: absolute;
    transition: visibility 0.65s ease-in;
    left: 0;
    padding-top: 10px;
}

/* unordered list items hover direct unordered list & list items unordered list hover elements */
ul li:hover > ul, li ul:hover {
    visibility: visible; /* makes list items visible when hovered over */
}
