/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* h1 elements */
h1 {
    margin-bottom: 10px;
}

/* section elements */
section {
    margin-bottom: 10px;
}

/* navigational elements */
nav {
    margin-bottom: 10px;
}