<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: About</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="about.css" />
</head>
<body>

	<!-- Component -->

    <div id="about"> <!-- opening id tag for "about" -->

        <h1> 2) About </h1>
        <img src="about.png" alt="About" style="border: 1px solid #eee; width: 650px; height: 270px;">
        <div id="aboutArticle"> <!-- opening id tag for "about article" -->
            <h2> Target Audience: </h2>
            <p> The target audience would be anyone interested in purchasing or selling various items, such as, clothing, electronics, etc. Anyone from every age and social group will find this website useful. </p>

            <h2> Client/User Needs: </h2>
            <p> The main goal for this website would be to allow our users to have the best and most convenient experience possible while purchasing items or merchandise. </p>

            <h2> Critique: </h2>
            <p> The design is simple and professionally laid out. The "about" section alone provides the user with many options to choose from as well as links to other sources to make the user's shopping experience more enjoyable. In the left hand corder you have the company logo, in which I feel is a nice touch, as well as the company biography right next to it. Down below you have a list of options which are highlighted by the color blue. This color stands out from the rest of the text and provides the user with more options to choose from or browse. </p>
        </div> <!-- closing id tag for "about article" -->

    </div> <!-- closing id tag for "about" -->



    <!-- End Component -->
	
</body>
</html>