<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Contact</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="contact.css" />
</head>
<body>

	<!-- Component -->
    <section> <!-- opening section tag -->
        <header> <!-- opening header tag -->
            <h1> Contact Us </h1>
        </header> <!-- closing header tag -->

        <h2> Select a topic so we can better serve you </h2>
            <ul>
                <li><a href="#">Purchase</a></li>
                <li><a href="#">Selling</a></li>
                <li><a href="#">Account</a></li>
            </ul>
    </section> <!-- closing section tag -->

    <section> <!-- opening section tag -->
        <h2> Contact Options </h2>
            <ul>
                <li><a href="#">Call us</a></li>
            </ul>
    </section> <!-- closing section tag -->
    <!-- End Component -->
	
</body>
</html>