<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Contact</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="contact.css" />
</head>
<body>

	<!-- Component -->

    <div id="contact"> <!-- opening id tag for "contact" -->

        <h1> 6) Contact </h1>
        <img src="contact.png" alt="Contact" style="border: 1px solid #eee; width: 580px; height: 300px;">
        <div id="contactArticle"> <!-- opening id tag for "contact article" -->
            <h2> Target Audience: </h2>
            <p> The target audience for this particular portion of the website would anyone viewing the website who may need help or would like to get in touch with our company. This would also apply for those who may be seeking employment. </p>

            <h2> Client/User Needs: </h2>
            <p> The main goal or purpose for this portion of the website is to allow any user to ask questions or to have a personal conversation with one of our representatives. </p>

            <h2> Critique: </h2>
            <p> The design for this component is very well thought out and looks to be as convenient for the user as necessary. It's not just the standard message box and submit button. This piece of design was structured to appeal to the user as much as possible. Not only do you have the option to get in contact, but you also have the option to seek help by selection one of the options that relates mostly to your area of interest. </p>
        </div> <!-- closing id tag for "contact article" -->

    </div> <!-- closing id tag for "contact" -->


    <!-- End Component -->
	
</body>
</html>