/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* body elements */
body {
    background: #eee;
}

/* header elements */
header {
    margin: 0px 80px 10px 40px;
    border-bottom: 2px solid #000;
    padding: 20px 0px 5px 20px;
}

