<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Contact</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="contact.css" />
</head>
<body>

	<!-- Component -->
    <section> <!-- opening section tag -->

        <header> <!-- opening header tag -->
            <h1> Contact Us </h1>
        </header> <!-- closing header tag -->

        <figure>
            <img src="images/section-divider.png" alt="Section divider with two sections lined up vertically with a green circle indicating an 'active' state">
        </figure>

        <h2> Select a topic so we can better serve you </h2>
            <nav> <!-- opening navigational tag -->
               <a href="#">Purchase</a><img src="images/buying.png" alt="Logo created to indicate a purchase">
               <a href="#">Selling</a><img src="images/selling.png" alt="Logo created to indicate a sell">
               <a href="#">Account</a><img src="images/account.png" alt="Logo created to indicate a personal account">
            </nav> <!-- closing navigational tag -->

    </section> <!-- closing section tag -->


    <section> <!-- opening section tag -->

        <h2> Contact Options </h2>
            <nav> <!-- opening navigational tag -->
                <a href="#">Call us</a>
            </nav> <!-- closing navigational tag -->

    </section> <!-- closing section tag -->
    <!-- End Component -->
	
</body>
</html>