<!DOCTYPE html>
<html>
<head>
    <title>WSP Component: Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="search.css" />
</head>
<body>

	<!-- Component -->
    <header> <!-- opening header tag -->
        <nav> <!-- opening navigational tag -->
            <ul> <!-- opening unordered list -->
                <li><a href="#">Shop by Category<span></span></a>
                    <ul> <!-- opening sub-unordered list -->
                        <li><a href="#">List item one</a></li>
                        <li><a href="#">List item two</a></li>
                        <li><a href="#">List item three</a></li>
                        <li><a href="#">List item four</a></li>
                        <li><a href="#">List item five</a></li>
                    </ul> <!-- closing sub-unordered list -->
                </li>
            </ul> <!-- closing unordered list -->
        </nav> <!-- closing navigational tag -->

        <form> <!-- opening form tag -->
            <input type="text" placeholder="Search for any item">
        </form> <!-- closing form tag -->

        <nav> <!-- opening navigational tag -->
            <ul> <!-- opening unordered list -->
                <li><a href="#">All Categories<span></span></a>
                    <ul> <!-- opening sub-unordered list -->
                        <li><a href="#">List item one</a></li>
                        <li><a href="#">List item two</a></li>
                        <li><a href="#">List item three</a></li>
                        <li><a href="#">List item four</a></li>
                        <li><a href="#">List item five</a></li>
                    </ul> <!-- closing sub-unordered list -->
                </li>
            </ul> <!-- closing unordered list -->
        </nav> <!-- closing navigational tag -->

        <button type="button">Search</button>
    </header> <!-- closing header tag -->
	<!-- End Component -->
	
</body>
</html>