/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* body elements */
body {
    background: #eee;
    width: 100%; /* 16px */
}

/* header elements */
header {
    margin: 1.25%; /* 20px/16px */
    width: 62.5%; /* 1000px/16px */
}

/* input elements */
input {
    border: 1px solid #666;
    width: 50%; /* 800px/16px */
    height: 35px;
    float: left;
    margin-top: 11px;
}

/* button elements */
button {
    margin-left: 0.3125%; /* 5px/16px */
    margin-top: 12px;
    padding: 7px 0.4375%; /* 7px/16px */
    float: left;
    background: #2851a5;
    color: #fff;
    border-radius: 0.5em;
    border: 1px solid #2851a5;
    width: 6.25%; /* 80px/16px */
    font-size: 0.8em;
}

/* navigation nth-of-type number one span elements */
nav:nth-of-type(1) span { /* targets drop down arrow for "shop by category" */
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    margin-left: 3.125%; /* 50px/16px */
    position: absolute;
}

/* navigation nth-of-type number two span elements */
nav:nth-of-type(2) span { /* targets drop down arrow for "all categories" */
    width: 0;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    float: right;
    margin-left: 3.125%; /* 50px/16px */
    margin-top: 4px;
    position: absolute;
}

/* a elements */
a {
    color: #000;
}

/* list item elements */
li {
    display: block;
    float: left;
    padding: 10px 0.3125%; /* 5px/16px */
    position: relative;
    text-decoration: none;
    color: #000;
}

/* list item hover & list item a hover elements */
li:hover, li a:hover {
    background: #eee;
}

/* unordered list direct list item direct 'sub' unordered list elements */
ul > li > ul {
    visibility: hidden;  /* keeps list items hidden until hovered over */
    position: absolute;
    transition: visibility 0.65s ease-in;
    left: 0;
    padding-top: 10px;
    padding-left: 3.125%; /* 50px/16px */
}

/* unordered list items hover direct unordered list & list items unordered list hover elements */
ul li:hover > ul, li ul:hover {
    visibility: visible; /* makes list items visible when hovered over */
    background: #fff;
}

/* navigational, ul, li, & a nth-of-type number one elements */
nav:nth-of-type(1) > ul:nth-of-type(1) > li:nth-of-type(1) > a:nth-of-type(1) { /* targets first navigational a element for drop down menu */
    color: #000;
    display: block;
    width: 50%; /* 800px/16px */
}

/* navigational nth-of-type number one direct unordered list direct list item elements */
nav:nth-of-type(1) > ul > li { /* targets first navigational element */
    margin: 3px 0% 0px 0%;
    font-size: 1.0em;
}

/* navigational nth-of-type number two direct unordered list direct list item elements */
nav:nth-of-type(2) > ul > li { /* targets second navigational element */
    border: 1px solid lightgray;
    background: #fff;
    margin-top: 11px;
    padding: 10px 2.5% 10px 1.25%; /* 40px/16px, 20px/16px */
    font-size: 0.8em;
}


/****** RESPONSIVE MEDIA QUERIES ******/

/**** tablet ****/
@media screen and (max-width: 1200px) and (min-width: 600px) {
    button {
        width: 10%;
    }

}

/**** mobile ****/
@media screen and (max-width: 600px) {

    body {
        padding-left: 5%;
    }

    nav:nth-of-type(2) span {
        margin-left: 0;
    }

    input {
        clear: left;
    }

    button {
        width: 20%;
    }

}