/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* body elements */
body {
    background: #eee;
}

/* header elements */
header {
    margin: 20px;
    width: 800px;
}

/* input elements */
input {
    border: 1px solid #666;
    width: 400px;
    height: 35px;
    float: left;
    margin-left: -20px;
    margin-top: 11px;
}

/* button elements */
button {
    margin-left: 2px;
    margin-top: 12px;
    padding: 7px;
    float: left;
    background: #112ba5;
    color: #fff;
    border-radius: 0.5em;
    border: 1px solid #112ba5;
}

/* span elements */
span {
    font-size: 0.7em;
    line-height: 0%;
}

/* list item elements */
li {
    display: block;
    float: left;
    padding: 10px;
    position: relative;
    text-decoration: none;
}

/* list item a elements */
li a {
    color: #000;
    display: block;
    width: 100px;
}

/* list item hover & list item a hover elements */
li:hover, li a:hover {
    background: #eee;
}

/* unordered list direct list item direct 'sub' unordered list elements */
ul > li > ul {
    visibility: hidden;  /* keeps list items hidden until hovered over */
    position: absolute;
    transition: visibility 0.65s ease-in;
    left: 0;
    padding-top: 10px;
}

/* unordered list items hover direct unordered list & list items unordered list hover elements */
ul li:hover > ul, li ul:hover {
    visibility: visible; /* makes list items visible when hovered over */
}

/* navigational nth-of-type number one direct unordered list direct list item elements */
nav:nth-of-type(1) > ul > li { /* targets first navigational element */
    margin: 3px 20px 0px 0px;
}

/* navigational nth-of-type number two direct unordered list direct list item elements */
nav:nth-of-type(2) > ul > li { /* targets second navigational element */
    border: 1px solid lightgray;
    background: #fff;
    margin-top: 11px;
    padding: 10px 10px 10px 15px;
    font-size: 0.8em;
}
