<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Search</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="search.css" />
</head>
<body>

	<!-- Component -->
    <section id="search"> <!-- opening section tag for "search" -->

        <h1> 9) Search </h1>
        <img src="search.png" alt="Search Image for WSP: Component 9">
        <article id="searchArticle"> <!-- opening article tag for "search article" -->
            <h2> Target Audience: </h2>
            <p> The "search" option/feature will most likely be of use to men and women between the ages of 18-35 who may need to search for an item in particular that may not be included in one the navigational selections, as well as anywhere else within the website. </p>

            <h2> Client/User Needs: </h2>
            <p> The main goal for the search bar is to allow the user to interact with the website by giving them the option to search for an item to receive direct results. The users will also have the option to search for an item by "category" instead of just the manual way of searching. </p>

            <h2> Critique: </h2>
            <p> The layout/design for the search bar is laid out nicely and appears to be quick and easy for the user to receive direct results because of advanced category options. The background inside the search bar is white, standing out from the main background to highlight the search bar's existence. The submit button is blue, giving it a very "professional" and "trustworthy" appearance, where if it were the submit button were the color red, this would confuse the user since the color red is typically used as a message of "warning" or "caution." </p>
        </article> <!-- closing article tag for "search article" -->

    </section> <!-- closing section tag for "search" -->
	<!-- End Component -->
	
</body>
</html>