<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Footer</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="footer.css" />
</head>
<body>

	<!-- Component -->
    <section> <!-- opening section tag -->
        <article> <!-- opening article tag -->
            <h1> About us </h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam volutpat sapien nulla, nec euismod mi pulvinar non. Donec at interdum sapien. Nam fringilla, arcu id iaculis pulvinar, arcu augue aliquam lectus, non condimentum nulla turpis et nisi. Suspendisse sed venenatis arcu. Vivamus mattis lorem quis tincidunt aliquet. Proin in augue vel mauris rutrum maximus sed id nisi. Morbi tempus augue dui, sed semper elit sagittis non. </p>
        </article> <!-- closing article tag -->

        <article> <!-- opening article tag -->
            <h1> Recent Posts </h1>
            <ol>
                <li> The Happiest Place On Earth. </li>
                <li> Elegant Icon Font </li>
                <li> The Sweet Life </li>
                <li> Golden Meadow </li>
            </ol>
        </article> <!-- closing article tag -->

        <article> <!-- opening article tag -->
            <h1> More info </h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam volutpat sapien nulla, nec euismod mi pulvinar non. Donec at interdum sapien. Nam fringilla, arcu id iaculis pulvinar, arcu augue aliquam lectus, non condimentum nulla turpis et nisi. Suspendisse sed venenatis arcu. Vivamus mattis lorem quis tincidunt aliquet. Proin in augue vel mauris rutrum maximus sed id nisi. Morbi tempus augue dui, sed semper elit sagittis non. </p>
        </article> <!-- closing article tag -->

        <article> <!-- opening article tag -->
            <h1> Recent Comments </h1>
            <ol>
                <li> KennySing on Flirt The World </li>
                <li> KennySing on A Short Film </li>
                <li> admit on Premium WordPress Themes by Elegant Themes </li>
            </ol>
        </article> <!-- closing article tag -->
    </section> <!-- closing section tag -->

    <nav> <!-- opening navigational tag -->
        <a href="#"> Home </a>
        <a href="#"> Divi 2.0 </a>
        <a href="#"> Blog </a>
        <a href="#"> About Us </a>
        <a href="#"> Contact Us </a>
    </nav> <!-- closing navigational tag -->

    <div id="links"> <!-- opening id tag for "links" -->
        <a href="http://www.facebook.com/html/"><img src="#"></a>
        <a href="http://www.twitter.com/html/"><img src="#"></a>
        <a href="http://www.plus.google.com/html/"><img src="#"></a>
        <a href="http://www.instagram.com/html/"><img src="#"></a>
    </div> <!-- closing id tag for "links" -->

    <footer> <!-- opening footer tag -->
        <p> Designed by Sharpe's Electronics </p>
        <p> Powered by WordPress </p>
    </footer> <!-- closing footer tag -->
	<!-- End Component -->
	
</body>
</html>