<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Footer</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="footer.css" />
</head>
<body>

	<!-- Component -->
    <footer> <!-- opening footer tag -->
        <section> <!-- opening section tag -->
            <h1> About us </h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam volutpat sapien nulla, nec euismod mi pulvinar non. Donec at interdum sapien. Nam fringilla, arcu id iaculis pulvinar, arcu augue aliquam lectus, non condimentum nulla turpis et nisi. Suspendisse sed venenatis arcu. Vivamus mattis lorem quis tincidunt aliquet. Proin in augue vel mauris rutrum maximus sed id nisi. Morbi tempus augue dui, sed semper elit sagittis non. </p>
        </section> <!-- closing section tag -->

        <section> <!-- opening section tag -->
            <h1> More info </h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam volutpat sapien nulla, nec euismod mi pulvinar non. Donec at interdum sapien. Nam fringilla, arcu id iaculis pulvinar, arcu augue aliquam lectus, non condimentum nulla turpis et nisi. Suspendisse sed venenatis arcu. Vivamus mattis lorem quis tincidunt aliquet. Proin in augue vel mauris rutrum maximus sed id nisi. Morbi tempus augue dui, sed semper elit sagittis non. </p>
        </section> <!-- closing section tag -->

        <nav> <!-- opening navigational tag -->
            <ul>
                <li> Home </li>
                <li> Blog </li>
                <li> Contact Us </li>
            </ul>
        </nav> <!-- closing navigational tag -->

        <h3> Copyright 2015 </h3>
    </footer> <!-- closing footer tag -->
	<!-- End Component -->
	
</body>
</html>