<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Footer</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="footer.css" />
</head>
<body>

	<!-- Component -->
    <footer> <!-- opening footer tag -->
        <section> <!-- opening section tag -->
            <h1> About us </h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam volutpat sapien nulla, nec euismod mi pulvinar non. Donec at interdum sapien. Nam fringilla, arcu id iaculis pulvinar, arcu augue aliquam lectus, non condimentum nulla turpis et nisi. Suspendisse sed venenatis arcu. Vivamus mattis lorem quis tincidunt aliquet. Proin in augue vel mauris rutrum maximus sed id nisi. Morbi tempus augue dui, sed semper elit sagittis non. </p>
        </section> <!-- closing section tag -->

        <section> <!-- opening section tag -->
            <h1> Recent Posts </h1>
            <ol>
                <li> The Happiest Place On Earth. </li>
                <li> Elegant Icon Font </li>
                <li> The Sweet Life </li>
                <li> Golden Meadow </li>
            </ol>
        </section> <!-- closing section tag -->

        <section> <!-- opening section tag -->
            <h1> More info </h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam volutpat sapien nulla, nec euismod mi pulvinar non. Donec at interdum sapien. Nam fringilla, arcu id iaculis pulvinar, arcu augue aliquam lectus, non condimentum nulla turpis et nisi. Suspendisse sed venenatis arcu. Vivamus mattis lorem quis tincidunt aliquet. Proin in augue vel mauris rutrum maximus sed id nisi. Morbi tempus augue dui, sed semper elit sagittis non. </p>
        </section> <!-- closing section tag -->

        <section> <!-- opening section tag -->
            <h1> Recent Comments </h1>
            <ol>
                <li> KennySing on Flirt The World </li>
                <li> KennySing on A Short Film </li>
                <li> admit on Premium WordPress Themes by Elegant Themes </li>
            </ol>
        </section> <!-- closing section tag -->

        <nav> <!-- opening navigational tag -->
            <ul>
                <li> Home </li>
                <li> Divi 2.0</li>
                <li> Blog </li>
                <li> About Us </li>
                <li> Contact Us </li>
            </ul>
        </nav> <!-- closing navigational tag -->

        <div id="links"> <!-- opening id tag for "links" -->
            <a href="http://www.facebook.com/html/"><img src="#"></a>
            <a href="http://www.twitter.com/html/"><img src="#"></a>
            <a href="http://www.plus.google.com/html/"><img src="#"></a>
            <a href="http://www.instagram.com/html/"><img src="#"></a>
        </div> <!-- closing id tag for "links" -->

        <h3> Designed by Sharpe's Electronics </h3>
        <h3> Powered by WordPress </h3>
    </footer> <!-- closing footer tag -->
	<!-- End Component -->
	
</body>
</html>